
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo playlist-title center">Restaurant and Movie Rater</a>
      {{!-- <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
      --}}
      <ul class="right hide-on-med-and-down"></ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="">test</a></li>
        <li><a href="">test</a></li>
      </ul>
    </div>
  </nav>

<body style = "background-color: #2b2b2b;">
<div class="background-styling"></div>
  <div class="col s12 m7">
    <div class="card horizontal background-styling">
      <div class="card-stacked background-styling">
        <div class="card-content background-styling">
          <form id="my-form" class="form-styling">

            <label for="location">Enter your restaurant:</label>
            <input class="background-styling" type="text" name="location" id="location" placeholder="Restaurant or Movie" 
            <label for="location">How many stars?:</label>
            <input class="background-styling" type="text" name="location" id="location" placeholder="1-5"  
          </form>
          <button class="btn waves-effect waves-light blue-btn" type ="submit">submit</button>
        </div>
      </div>
    </div>
  </div>

  </div>


  <div class="col s12 m7">
    <div class="card horizontal background-styling">
      <div class="card-stacked background-styling">
        <div class="card-content background-styling">
          <form id="my-form">
            {{{dbinfo}}}
          </form>
        </div>
      </div>
    </div>
  </div>

  </div>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  </form>
</div>
</body>